<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }} by {{ site.author.name }}</title>

    <!-- Styles and fonts -->
    <link rel="stylesheet" href="css/style.css">
<!--
    <link rel="stylesheet" href="css/syntax.css">
-->

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700|Noticia+Text:400,400italic,700,700italic&subset=latin,latin-ext,vietnamese'>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <script src="js/modernizr.js"></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    

  </head>

  <body class="index epsilon">
    <div class="page-wrapper">

      <a id="menu-toggle" class="menu-toggle" href="#sidr"><span class="bitcon-list"></span><span class="menu-toggle-text">Toggle Menu</span></a>
      <header class="page-header" role="banner">

        <a href="index.html" class="invisilink">
          {% if true %}   <!-- ['index.html'].include? current_page.path -->
            <h1 class="book-title">{{ site.title }}</h1>
          {% else %}
            <span class="book-title">{{ site.title }}</span>
          {% endif %}
        </a>
        <span>
          <!-- Place this tag where you want the button to render. -->
        <!--<a class="github-button" href="https://github.com/omarsar/nlp_overview/fork" data-size="large" aria-label="Fork omarsar/nlp_overview on GitHub">Fork</a>-->
          <!-- Place this tag where you want the button to render. -->
          <a class="github-button" href="https://github.com/omarsar/nlp_overview" data-size="large" aria-label="Watch omarsar/nlp_overview on GitHub">Watch</a>
        </span>
        <!--<span class="book-author">by {{ site.author.name }}</span>-->
      </header>

     {{ content }}

      <div id="disqus_thread" class="content-wrapper"></div>
      <script>
      
      /**
      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
      /*
      var disqus_config = function () {
      this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      */
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://nlpoverview.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
           

      <footer class="page-footer">
        <div class="footer-wrapper">                               
          <small class="small-text">
            <p>This project is maintained by <a href="https://github.com/omarsar">Elvis Saravia</a> and <a href="https://github.com/soujanyaporia">Soujanya Poria</a>.</p>
          </small>
        </div><!-- end footer-wrapper -->
      </footer>

    </div><!-- end page-wrapper -->

    <!-- include scripts just before the close of the body tag -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/jquery.sidr.min.js"></script>
    <script src="js/anchor.min.js"></script>
    <script src="js/epsilon.js"></script>
    <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.css"> -->
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.1.1/katex.min.js"></script> -->
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css" integrity="sha384-D+9gmBxUQogRLqvARvNLmA9hS2x//eK1FhVb9PiU86gmcrBrJAQT8okdJ4LMp2uv" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js" integrity="sha384-483A6DwYfKeDa0Q52fJmxFXkcPCFfnXMoXblOkJ4JcA8zATN6Tm78UNL72AKk+0O" crossorigin="anonymous"></script>
    <!--<script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/contrib/auto-render.min.js" integrity="sha384-yACMu8JWxKzSp/C1YV86pzGiQ/l1YUfE8oPuahJQxzehAjEt2GiQuy/BIvl9KyeF" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>-->
    <script src="js/katex_render.js"></script>
  </body>
</html>
